.main-home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-home-content {
  flex: 1;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
  padding-left: 24px;
  padding-right: 24px;
  /* background-color: gray; */
}

